force-app/main/default/flows/AIG_SelectWonPlanTypesOnOppty.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Asset_Relationship_to_List</name>
        <label>Add Asset Relationship to List</label>
        <locationX>2500</locationX>
        <locationY>1150</locationY>
        <assignmentItems>
            <assignToReference>AssetRelationshipList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssetRelationshipRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plan_Type_Status_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_plan_type_id</name>
        <label>add plan type id</label>
        <locationX>4010</locationX>
        <locationY>875</locationY>
        <assignmentItems>
            <assignToReference>planTypeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>planTypeRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_opty_already_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddAssetRecordsToUpdate</name>
        <label>AddAssetRecordsToUpdate</label>
        <locationX>3827</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>var_AssetRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_OldAssetRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateAssetIdSet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addAssetRecordToInsert</name>
        <label>addAssetRecordToInsert</label>
        <locationX>987</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>var_AssetRecordsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_assetRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateStatusToWon</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>app_Plan_Opportunity_Relationship_record_to_list</name>
        <label>app Plan Opportunity Relationship record to list</label>
        <locationX>4111</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>PlanOpportunityRelationshipRecordsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_PlanOpportunityRelationshipRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>markedOptyNotLinked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAssetIdToPlanTypeRecord</name>
        <label>AssignAssetIdToPlanTypeRecord</label>
        <locationX>3245</locationX>
        <locationY>982</locationY>
        <assignmentItems>
            <assignToReference>planTypeRecord.AIG_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_assetRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>plan_id_set_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPlanTypeRecordToPlanTypeRecordToUpdateWithAssetId</name>
        <label>assignPlanTypeRecordToPlanTypeRecordToUpdateWithAssetId</label>
        <locationX>3788</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>planTypeRecordsWithAssetIdToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>planTypeRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_plan_type_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Create New Plan Opportunity Relationship Record</description>
        <name>Create_New_Plan_Opportunity_Relationship_Record</name>
        <label>Create New Plan Opportunity Relationship Record</label>
        <locationX>4143</locationX>
        <locationY>662</locationY>
        <assignmentItems>
            <assignToReference>var_PlanOpportunityRelationshipRecord.AIG_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PlanOpportunityRelationshipRecord.AIG_Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_assetRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>app_Plan_Opportunity_Relationship_record_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>insertAssetRecordsForLost</name>
        <label>insertAssetRecords</label>
        <locationX>1680</locationX>
        <locationY>858</locationY>
        <assignmentItems>
            <assignToReference>var_AssetRecordsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_assetRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updatePlanTypeRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>markedOptyNotLinked</name>
        <label>markedOptyNotLinked</label>
        <locationX>3169</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>var_IsOpptyAlreadyLinked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_converted_plan_type_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>oppty_already_linked</name>
        <label>oppty already linked</label>
        <locationX>2713</locationX>
        <locationY>1146</locationY>
        <assignmentItems>
            <assignToReference>var_IsOpptyAlreadyLinked</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plan_Type_Status_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateAssetIdSet</name>
        <label>updateAssetIdSet</label>
        <locationX>3683</locationX>
        <locationY>1202</locationY>
        <assignmentItems>
            <assignToReference>var_AssetIdSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_OldAssetRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignAssetIdToPlanTypeRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updatePlanTypeRecord</name>
        <label>updatePlanTypeRecord</label>
        <locationX>1973</locationX>
        <locationY>644</locationY>
        <assignmentItems>
            <assignToReference>planTypeRecord.AIG_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updatePlanTypeRecordsToUdpate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updatePlanTypeRecords</name>
        <label>updatePlanTypeRecords</label>
        <locationX>1383</locationX>
        <locationY>804</locationY>
        <assignmentItems>
            <assignToReference>var_planTypeRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>planTypeRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOverAllPlanTypeRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updatePlanTypeRecordsToUdpate</name>
        <label>updatePlanTypeRecordsToUdpate</label>
        <locationX>1975</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>var_planTypeRecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>planTypeRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOverAllPlanTypeRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the status of opportunity line item/ plan type record as &apos;won&apos;.</description>
        <name>updateStatusToWon</name>
        <label>updateStatusToWon</label>
        <locationX>1265</locationX>
        <locationY>802</locationY>
        <assignmentItems>
            <assignToReference>planTypeRecord.AIG_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Won</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updatePlanTypeRecords</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>All plan types are lost</description>
        <name>allLostPlans</name>
        <choiceText>All Plans Have Been Lost</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>allLost</stringValue>
        </value>
    </choices>
    <choices>
        <description>This means that all the plan types are won</description>
        <name>allWonChoice</name>
        <choiceText>All Plans Have Been Won</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>allWon</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choose Won Or Lost Plans Manually</description>
        <name>chooseWon</name>
        <choiceText>Choose Win/Loss by Plan</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choosePlan</stringValue>
        </value>
    </choices>
    <decisions>
        <name>is_Allowed_User</name>
        <label>is Allowed User?</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <defaultConnector>
            <targetReference>Select_Won_Plan_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isAllowedProfile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ProfilesAllowed</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ProfilesAllowed.AIG_Profiles__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>var_UserProfileName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOpportunityRecord</targetReference>
            </connector>
            <label>isAllowedProfile?</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Old_Plan_Activated</name>
        <label>is Old Plan Activated?</label>
        <locationX>1108</locationX>
        <locationY>500</locationY>
        <defaultConnector>
            <targetReference>updateStatusToWon</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNotActivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>planTypeRecord.AIG_IsActivated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Plan_Variable_To_Insert</targetReference>
            </connector>
            <label>isNotActivated?</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_opty_already_selected</name>
        <label>is opty already selected?</label>
        <locationX>3888</locationX>
        <locationY>677</locationY>
        <defaultConnector>
            <targetReference>Create_New_Plan_Opportunity_Relationship_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>opty_already_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_IsOpptyAlreadyLinked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>markedOptyNotLinked</targetReference>
            </connector>
            <label>opty already selected?</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAssetIdAlreadyAdded</name>
        <label>isAssetIdAlreadyAdded?</label>
        <locationX>3517</locationX>
        <locationY>1710</locationY>
        <defaultConnector>
            <targetReference>AddAssetRecordsToUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Asset_Id_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AssetIdSet</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>var_OldAssetRecord.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAssetIdToPlanTypeRecord</targetReference>
            </connector>
            <label>Asset Id Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAssetIdPopulatedAlready</name>
        <label>isAssetIdPopulatedAlready?</label>
        <locationX>2470</locationX>
        <locationY>870</locationY>
        <defaultConnector>
            <targetReference>AssignAssetIdToPlanTypeRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>does_Asset_Id_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>planTypeRecord.AIG_Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isAssetSameAsAssetId</targetReference>
            </connector>
            <label>does Asset Id Not Null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAssetIdSetNull</name>
        <label>isAssetIdSetNull?</label>
        <locationX>3320</locationX>
        <locationY>1522</locationY>
        <defaultConnector>
            <targetReference>AddAssetRecordsToUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>asset_Ids_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AssetIdSet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isAssetIdAlreadyAdded</targetReference>
            </connector>
            <label>asset Ids exists?</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAssetSameAsAssetId</name>
        <label>isAssetSameAsAssetId?</label>
        <locationX>2704</locationX>
        <locationY>977</locationY>
        <defaultConnector>
            <targetReference>create_plan_relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isSameAsset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_assetRecord.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>planTypeRecord.AIG_Asset__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>oppty_already_linked</targetReference>
            </connector>
            <label>isSameAsset?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if opportunity Id is empty</description>
        <name>isOpportunityIdEmpty</name>
        <label>isOpportunityIdEmpty</label>
        <locationX>187</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>GetAllowedProfiles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Record_Id_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>Is Record Id Null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>isPlanTypeIdsPresent</name>
        <label>isPlanTypeIdsPresent?</label>
        <locationX>3597</locationX>
        <locationY>717</locationY>
        <defaultConnector>
            <targetReference>assignPlanTypeRecordToPlanTypeRecordToUpdateWithAssetId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>plan_type_already_updated_with_assetId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>planTypeIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>planTypeRecord.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_opty_already_selected</targetReference>
            </connector>
            <label>plan type already updated with assetId?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the opportunity line item/ plan type record is selected to be marked as &apos;Won&apos;</description>
        <name>isPlanTypeSelected</name>
        <label>isPlanTypeSelected?</label>
        <locationX>1328</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>isProspectingPlanSponsorOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isOpptyLineItemSelected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Available_Plan_Types</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>planTypeRecord.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>radioButtonSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>allWon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Old_Plan_Activated</targetReference>
            </connector>
            <label>isOpptyLineItemSelected?</label>
        </rules>
    </decisions>
    <decisions>
        <name>isProductSame</name>
        <label>isProductSame</label>
        <locationX>2590</locationX>
        <locationY>675</locationY>
        <defaultConnector>
            <targetReference>loop_over_converted_plan_type_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPlanTypeSameForBothRecords</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>planTypeRecord.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_assetRecord.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_assetRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Converting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_assetRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prospecting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_assetRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isAssetIdPopulatedAlready</targetReference>
            </connector>
            <label>isPlanTypeSameForBothRecords</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if OLI got created from plan sponsor prospect record</description>
        <name>isProspectingPlanSponsorOLI</name>
        <label>isProspectingPlanSponsorOLI?</label>
        <locationX>1665</locationX>
        <locationY>502</locationY>
        <defaultConnector>
            <targetReference>updatePlanTypeRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Asset_Id_Null_For_OLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>planTypeRecord.AIG_Asset__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createLostPlanRecord</targetReference>
            </connector>
            <label>is Asset Id Null For OLI?</label>
        </rules>
    </decisions>
    <decisions>
        <name>noOpportunityLineItem</name>
        <label>noOpportunityLineItem?</label>
        <locationX>773</locationX>
        <locationY>425</locationY>
        <defaultConnector>
            <targetReference>Update_Plan_Type_Status_1stScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isOpportunityLineItemListNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allOpportunityLineItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Plan_Type_Status_No_Plan_Type_Found</targetReference>
            </connector>
            <label>isOpportunityLineItemListNull?</label>
        </rules>
    </decisions>
    <decisions>
        <name>plan_id_set_not_null</name>
        <label>plan id set not null?</label>
        <locationX>3406</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>assignPlanTypeRecordToPlanTypeRecordToUpdateWithAssetId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>plan_id_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>planTypeIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isPlanTypeIdsPresent</targetReference>
            </connector>
            <label>plan id exists?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plan_Type_Is_Lost_and_Is_Activated_Is_False</name>
        <label>Plan Type Is Lost and Is Activated Is False?</label>
        <locationX>2727</locationX>
        <locationY>1662</locationY>
        <defaultConnector>
            <targetReference>udpatePlanStatusWithLostOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isActivatedIsFalseForLost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>planTypeRecord.AIG_IsActivated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Plan_Status_To_Deconverting</targetReference>
            </connector>
            <label>isActivatedIsFalseForLost?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plan_Type_Is_Won_and_Is_Activated_Is_False</name>
        <label>Plan Type Is Won and Is Activated Is False?</label>
        <locationX>2831</locationX>
        <locationY>1360</locationY>
        <defaultConnector>
            <targetReference>UpdatePlanStatusToActive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isActivatedIsFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>planTypeRecord.AIG_IsActivated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateExistingPlanRecord</targetReference>
            </connector>
            <label>isActivatedIsFalse?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plan_Type_Status_Check</name>
        <label>Plan Type Status Check</label>
        <locationX>2589</locationX>
        <locationY>1390</locationY>
        <defaultConnector>
            <targetReference>Plan_Type_Is_Lost_and_Is_Activated_Is_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Plan_Type_Status_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>planTypeRecord.AIG_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plan_Type_Is_Won_and_Is_Activated_Is_False</targetReference>
            </connector>
            <label>Is Plan Type Status Won?</label>
        </rules>
    </decisions>
    <decisions>
        <name>selectPLans</name>
        <label>selectPLans?</label>
        <locationX>775</locationX>
        <locationY>8</locationY>
        <defaultConnector>
            <targetReference>loopOverAllPlanTypeRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>showPlansToSelect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>radioButtonSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>choosePlan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Plan_Type_Status</targetReference>
            </connector>
            <label>showPlansToSelect?</label>
        </rules>
    </decisions>
    <description>Ref: RPI-1434,RPI-1459,RPI-1383,RPI-1346, RPI-1461 || Date : 27 March, 2019 || Developer: Rajeev Godara(Deloitte USI) || 
Description: This flow will update the plan type record (opportunity line item records)&apos;s status to &apos;Won&apos; or &apos;Lost&apos; and would createPlan( Asset) and &apos;Related/ Converted Opportunity&apos; (Plan Opportunity Relationship) records. 
In the case of the &apos;Plan Sponsor&apos; relationship, it will also update the existing Plan record and make that record sit under related list &apos;Plan History&apos; of the newly created &apos;Plan&apos; record.

Update : RPI-1462 || Splitting select won plan types into two screens || 1st April 2019 || Rajeev Godara</description>
    <dynamicChoiceSets>
        <name>RCS_availablePlanTypeRecords</name>
        <dataType>String</dataType>
        <displayField>AIG_Plan_Name_With_Details__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AIG_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <sortField>AIG_Plan_Type_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>Stores the profile name of the logged in user</description>
        <name>var_UserProfileName</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <interviewLabel>AIG_SelectWonPlanTypesOnOpportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AIG_SelectWonPlanTypesOnOppty</label>
    <loops>
        <name>loop_over_converted_plan_type_records</name>
        <label>loop over converted plan type records</label>
        <locationX>2784</locationX>
        <locationY>479</locationY>
        <assignNextValueToReference>planTypeRecord</assignNextValueToReference>
        <collectionReference>var_planTypeRecordsToUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isProductSame</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopOverAllAssets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopOverAllAssets</name>
        <label>loopOverAllAssets</label>
        <locationX>2794</locationX>
        <locationY>318</locationY>
        <assignNextValueToReference>var_assetRecord</assignNextValueToReference>
        <collectionReference>var_AllAssetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loop_over_converted_plan_type_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Asset_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopOverAllPlanTypeRecords</name>
        <label>loopOverAllPlanTypeRecords</label>
        <locationX>1389</locationX>
        <locationY>321</locationY>
        <assignNextValueToReference>planTypeRecord</assignNextValueToReference>
        <collectionReference>allOpportunityLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isPlanTypeSelected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updatePlanTypeRecordsDML</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Asset_Relationship</name>
        <label>Create Asset Relationship</label>
        <locationX>3332</locationX>
        <locationY>320</locationY>
        <connector>
            <targetReference>updatePlanTypeRecordsWithAssetIdsDML</targetReference>
        </connector>
        <inputReference>AssetRelationshipList</inputReference>
    </recordCreates>
    <recordCreates>
        <description>This will insert/ create new plan (Asset) records</description>
        <name>inserPlanRecords</name>
        <label>inserPlanRecords</label>
        <locationX>2255</locationX>
        <locationY>324</locationY>
        <connector>
            <targetReference>getAllAssetRecords</targetReference>
        </connector>
        <inputReference>var_AssetRecordsToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>insert_Plan_Opportunity_Relationship_Records</name>
        <label>insert Plan Opportunity Relationship Records</label>
        <locationX>3608</locationX>
        <locationY>320</locationY>
        <connector>
            <targetReference>updateOpportunityRecord</targetReference>
        </connector>
        <inputReference>PlanOpportunityRelationshipRecordsToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAllAssetRecords</name>
        <label>getAllAssetRecords</label>
        <locationX>2400</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOverAllAssets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>var_AllAssetRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>AIG_IsActivated__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>AIG_Total_Employees__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAllowedProfiles</name>
        <label>Get Allowed Profiles</label>
        <locationX>415</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Allowed_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Allowed_Profiles_For_Plan_Type_to_Won</stringValue>
            </value>
        </filters>
        <object>AIG_Profile_Configrations__mdt</object>
        <outputReference>var_ProfilesAllowed</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AIG_Profiles__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>get opportunity Line Items</description>
        <name>getOpportunityLineItems</name>
        <label>getOpportunityLineItems</label>
        <locationX>576</locationX>
        <locationY>585</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>noOpportunityLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AIG_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>allOpportunityLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AIG_Asset__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>AIG_Plan_Type_Name__c</queriedFields>
        <queriedFields>ServiceDate</queriedFields>
        <queriedFields>AIG_Other_Plan_Type__c</queriedFields>
        <queriedFields>AIG_IsActivated__c</queriedFields>
        <queriedFields>AIG_Current_Investment_Platform__c</queriedFields>
        <queriedFields>AIG_Total_Active_Participants__c</queriedFields>
        <queriedFields>AIG_Total_ER_Directed_Assets__c</queriedFields>
        <queriedFields>AIG_Total_EE_Directed_Assets__c</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <sortField>AIG_Plan_Type_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getOpportunityRecord</name>
        <label>getOpportunityRecord</label>
        <locationX>614</locationX>
        <locationY>197</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getProspectingRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>accountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getProspectingRecordTypeId</name>
        <label>getProspectingRecordTypeId</label>
        <locationX>580</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOpportunityLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AIG_Prospecting_Plan</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Asset</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_AssetObjectProspectingRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_Asset_Records</name>
        <label>update Asset Records</label>
        <locationX>3187</locationX>
        <locationY>315</locationY>
        <connector>
            <targetReference>Create_Asset_Relationship</targetReference>
        </connector>
        <inputReference>var_AssetRecordsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateOpportunityRecord</name>
        <label>updateOpportunityRecord</label>
        <locationX>3738</locationX>
        <locationY>318</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AIG_DisableOpptyVR__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AIG_Is_Closable__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>updatePlanTypeRecordsDML</name>
        <label>updatePlanTypeRecordsDML</label>
        <locationX>2116</locationX>
        <locationY>325</locationY>
        <connector>
            <targetReference>inserPlanRecords</targetReference>
        </connector>
        <inputReference>var_planTypeRecordsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatePlanTypeRecordsWithAssetIdsDML</name>
        <label>updatePlanTypeRecordsWithAssetIdsDML</label>
        <locationX>3465</locationX>
        <locationY>315</locationY>
        <connector>
            <targetReference>insert_Plan_Opportunity_Relationship_Records</targetReference>
        </connector>
        <inputReference>planTypeRecordsWithAssetIdToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Select_Won_Plan_Types</name>
        <label>Update Plan Type Status</label>
        <locationX>197</locationX>
        <locationY>197</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotASystemAdminError</name>
            <fieldText>Please contact the system admin to identify plans that have been won and need to be converted.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Plan_Type_Status</name>
        <label>Update Plan Type Status</label>
        <locationX>1130</locationX>
        <locationY>321</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loopOverAllPlanTypeRecords</targetReference>
        </connector>
        <fields>
            <name>Available_Plan_Types</name>
            <choiceReferences>RCS_availablePlanTypeRecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Plans that have been Won only (unselected plans will be assumed to be lost)</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Plan_Type_Status_1stScreen</name>
        <label>Update Plan Type Status</label>
        <locationX>782</locationX>
        <locationY>239</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>selectPLans</targetReference>
        </connector>
        <fields>
            <name>radioButtonSelection</name>
            <choiceReferences>allWonChoice</choiceReferences>
            <choiceReferences>allLostPlans</choiceReferences>
            <choiceReferences>chooseWon</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select the most appropriate option to update the plan type/s status:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Plan_Type_Status_No_Plan_Type_Found</name>
        <label>Update Plan Type Status</label>
        <locationX>775</locationX>
        <locationY>613</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoPlanTypeFoundError</name>
            <fieldText>There are no plan type associated with opportunity to update.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>isOpportunityIdEmpty</startElementReference>
    <status>Obsolete</status>
    <subflows>
        <description>Create &apos;Plan History&apos; for new asset record.</description>
        <name>create_plan_relationship</name>
        <label>create plan relationship</label>
        <locationX>2500</locationX>
        <locationY>1018</locationY>
        <connector>
            <targetReference>Add_Asset_Relationship_to_List</targetReference>
        </connector>
        <flowName>AIG_PlanHistoryPlanRelationships</flowName>
        <inputAssignments>
            <name>var_isHierarchy</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_newPlanId</name>
            <value>
                <elementReference>var_assetRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_oldPlanId</name>
            <value>
                <elementReference>planTypeRecord.AIG_Asset__c</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AssetRelationshipRecord</assignToReference>
            <name>var_PlanHistory</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Plan_Variable_To_Insert</name>
        <label>Create Plan Variable To Insert</label>
        <locationX>990</locationX>
        <locationY>643</locationY>
        <connector>
            <targetReference>addAssetRecordToInsert</targetReference>
        </connector>
        <flowName>AIG_CreatePlanRecord</flowName>
        <inputAssignments>
            <name>input_accountId</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_PlanRecordTypeId</name>
            <value>
                <elementReference>var_AssetObjectProspectingRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_PlanStatus</name>
            <value>
                <stringValue>Converting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_PlanTypeRecord</name>
            <value>
                <elementReference>planTypeRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_assetRecord</assignToReference>
            <name>var_Plan</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>This will create a new plan record for a plan sponsor prospect who has lost an OLI</description>
        <name>createLostPlanRecord</name>
        <label>createLostPlanRecord</label>
        <locationX>1675</locationX>
        <locationY>705</locationY>
        <connector>
            <targetReference>insertAssetRecordsForLost</targetReference>
        </connector>
        <flowName>AIG_CreatePlanRecord</flowName>
        <inputAssignments>
            <name>input_accountId</name>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_PlanRecordTypeId</name>
            <value>
                <elementReference>var_AssetObjectProspectingRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_PlanStatus</name>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_PlanTypeRecord</name>
            <value>
                <elementReference>planTypeRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_assetRecord</assignToReference>
            <name>var_Plan</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>udpatePlanStatusWithLostOLI</name>
        <label>udpatePlanStatusWithLostOLI</label>
        <locationX>3043</locationX>
        <locationY>1742</locationY>
        <connector>
            <targetReference>isAssetIdSetNull</targetReference>
        </connector>
        <flowName>AIG_CreatePlanRecord</flowName>
        <inputAssignments>
            <name>input_PlanId</name>
            <value>
                <elementReference>var_assetRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_PlanStatus</name>
            <value>
                <stringValue>Deconverting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_PlanTypeRecord</name>
            <value>
                <elementReference>planTypeRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_OldAssetRecord</assignToReference>
            <name>var_Plan</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Update_Existing_Plan_Status_To_Deconverting</name>
        <label>Update Existing Plan Status To Deconverting</label>
        <locationX>3038</locationX>
        <locationY>1583</locationY>
        <connector>
            <targetReference>isAssetIdSetNull</targetReference>
        </connector>
        <flowName>AIG_CreatePlanRecord</flowName>
        <inputAssignments>
            <name>input_PlanId</name>
            <value>
                <elementReference>planTypeRecord.AIG_Asset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_PlanStatus</name>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_PlanTypeRecord</name>
            <value>
                <elementReference>planTypeRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_OldAssetRecord</assignToReference>
            <name>var_Plan</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>updateExistingPlanRecord</name>
        <label>updateExistingPlanRecord</label>
        <locationX>3053</locationX>
        <locationY>1277</locationY>
        <connector>
            <targetReference>isAssetIdSetNull</targetReference>
        </connector>
        <flowName>AIG_CreatePlanRecord</flowName>
        <inputAssignments>
            <name>input_PlanId</name>
            <value>
                <elementReference>planTypeRecord.AIG_Asset__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_PlanStatus</name>
            <value>
                <stringValue>Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_PlanTypeRecord</name>
            <value>
                <elementReference>planTypeRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_OldAssetRecord</assignToReference>
            <name>var_Plan</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>UpdatePlanStatusToActive</name>
        <label>UpdatePlanStatusToActive</label>
        <locationX>3040</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>isAssetIdSetNull</targetReference>
        </connector>
        <flowName>AIG_CreatePlanRecord</flowName>
        <inputAssignments>
            <name>input_PlanId</name>
            <value>
                <elementReference>var_assetRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_PlanStatus</name>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_PlanTypeRecord</name>
            <value>
                <elementReference>planTypeRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_OldAssetRecord</assignToReference>
            <name>var_Plan</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Account/ Relationship Id</description>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>This will store all the opportunity line items</description>
        <name>allOpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>AssetRelationshipList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssetRelationship</objectType>
    </variables>
    <variables>
        <name>AssetRelationshipRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssetRelationship</objectType>
    </variables>
    <variables>
        <name>PlanOpportunityRelationshipRecordsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Plan_Opportunity_Relationship__c</objectType>
    </variables>
    <variables>
        <name>planTypeIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Loop variable of &apos;All Opportunity Line items/ Plan types&apos;</description>
        <name>planTypeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>planTypeRecordsWithAssetIdToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>This will store the opportunity Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>This will fetch all the asset records related to the relationship.</description>
        <name>var_AllAssetRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>var_AssetIdSet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AssetObjectProspectingRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>New Asset Record</description>
        <name>var_assetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>var_AssetRecordsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <description>List of asset records which are to be updated</description>
        <name>var_AssetRecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <description>If same opportunity is already linked to the asset, new entry shouldn&apos;t be made.</description>
        <name>var_IsOpptyAlreadyLinked</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_NewAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_oldAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>This will store old Asset Record to update status.</description>
        <name>var_OldAssetRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <description>var_PlanOpportunityRelationshipRecord</description>
        <name>var_PlanOpportunityRelationshipRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Plan_Opportunity_Relationship__c</objectType>
    </variables>
    <variables>
        <description>This will store</description>
        <name>var_planTypeRecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>var_ProfilesAllowed</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Profile_Configrations__mdt</objectType>
    </variables>
</Flow>
