force-app/main/default/flows/AIG_Create_Milestones_For_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Milestone_Record_Collection</name>
        <label>Add to Milestone Record Collection</label>
        <locationX>1178</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>MilestoneRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MilestoneRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Milestone_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Pricing_only_Collection</name>
        <label>Add to Pricing only Collection</label>
        <locationX>811</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>MilestoneRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricingOnlyMilestoneRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Milestone_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Milestone_for_Pricing_Only</name>
        <label>Create Milestone for Pricing Only</label>
        <locationX>817</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>PricingOnlyMilestoneRecord.AIG_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricingOnlyMilestoneRecord.Milestone_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pricing Timeline</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricingOnlyMilestoneRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pricing Timeline</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Pricing_only_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Milestone_Record_Assignment</name>
        <label>Milestone Record Assignment</label>
        <locationX>1178</locationX>
        <locationY>57</locationY>
        <assignmentItems>
            <assignToReference>MilestoneRecord.AIG_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneRecord.Milestone_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MilestoneNameRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MilestoneNameRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Milestone_Record_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Existing_Milestone_Record_Present_Opportunity</name>
        <label>Check Existing Milestone Record Present Opportunity</label>
        <locationX>582</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>Create_only_Pricing_Timeline</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Milestone_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingMilestones</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Update_List_For_Existing_Milestone</targetReference>
            </connector>
            <label>Is Milestone Present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Delete_List_Is_Empty</name>
        <label>Check If Delete List Is Empty</label>
        <locationX>927</locationX>
        <locationY>740</locationY>
        <defaultConnector>
            <targetReference>Delete_Existing_Milestone_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Delete_List_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MilestoneTasksforDeletion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Pricing_Only</targetReference>
            </connector>
            <label>Is Delete List Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Insert_List</name>
        <label>Check Insert List</label>
        <locationX>551</locationX>
        <locationY>720</locationY>
        <defaultConnector>
            <targetReference>Create_New_Milestone_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Insert_List_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MilestoneTaskInsetList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Delete_List_Is_Empty</targetReference>
            </connector>
            <label>Is Insert List Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Update_List</name>
        <label>Check Update List</label>
        <locationX>446</locationX>
        <locationY>1165</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_Milestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Update_List_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MilestoneTaskUpdateList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Insert_List</targetReference>
            </connector>
            <label>Is Update List Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_only_Pricing_Timeline</name>
        <label>Create only Pricing Timeline</label>
        <locationX>712</locationX>
        <locationY>176</locationY>
        <defaultConnector>
            <targetReference>Get_Unique_Milestone_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Pricing_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPricingOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Milestone_for_Pricing_Only</targetReference>
            </connector>
            <label>Is Pricing Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Pricing_Only</name>
        <label>If Pricing Only</label>
        <locationX>1247</locationX>
        <locationY>681</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Pricing_only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsPricingOnly</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Proposal_Timeline_for_Deletion</targetReference>
            </connector>
            <label>Check Pricing only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Proposal_Timeline_Found</name>
        <label>Is Proposal  Timeline Found</label>
        <locationX>1434</locationX>
        <locationY>1059</locationY>
        <defaultConnector>
            <targetReference>delete_proposal_timeline</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Proposal_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeleteProposal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Proposal Null</label>
        </rules>
    </decisions>
    <description>Flow creates Milestone for Opportunity</description>
    <interviewLabel>Create Milestones For Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Milestones For Opportunity</label>
    <loops>
        <name>Loop_On_Milestone_Name</name>
        <label>Loop On Milestone Name</label>
        <locationX>994</locationX>
        <locationY>130</locationY>
        <assignNextValueToReference>MilestoneNameRecord</assignNextValueToReference>
        <collectionReference>MilestoneName</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Milestone_Record_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Milestone_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Milestone_Record</name>
        <label>Create Milestone Record</label>
        <locationX>989</locationX>
        <locationY>364</locationY>
        <connector>
            <targetReference>Milestone_Task_Creation</targetReference>
        </connector>
        <inputReference>MilestoneRecordCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Milestone_Task</name>
        <label>Create Milestone Task</label>
        <locationX>1176</locationX>
        <locationY>511</locationY>
        <inputReference>MilestoneTaskCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Milestone_Task</name>
        <label>Create New Milestone Task</label>
        <locationX>699</locationX>
        <locationY>637</locationY>
        <connector>
            <targetReference>Check_If_Delete_List_Is_Empty</targetReference>
        </connector>
        <inputReference>MilestoneTaskInsetList</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Milestone_Records</name>
        <label>Delete Existing Milestone Records</label>
        <locationX>813</locationX>
        <locationY>832</locationY>
        <connector>
            <targetReference>If_Pricing_Only</targetReference>
        </connector>
        <inputReference>MilestoneTasksforDeletion</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>delete_proposal_timeline</name>
        <label>delete proposal timeline</label>
        <locationX>1218</locationX>
        <locationY>1059</locationY>
        <inputReference>DeleteProposal</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Find_Existing_Milestone_on_Opportunity</name>
        <label>Find Existing Milestone on Opportunity</label>
        <locationX>487</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Business_Hours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AIG_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>AIG_Milestone__c</object>
        <outputReference>ExistingMilestones</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AIG_Milestone__c</queriedFields>
        <queriedFields>AIG_Opportunity__c</queriedFields>
        <queriedFields>Milestone_Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Business_Hours</name>
        <label>Get Business Hours</label>
        <locationX>332</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsDefault</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>BusinessHours</object>
        <outputReference>BusinessHour</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>447</locationX>
        <locationY>329</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Existing_Milestone_Record_Present_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpptyRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AIG_Pricing_Manager__c</queriedFields>
        <queriedFields>AIG_Bid_Manager__c</queriedFields>
        <queriedFields>AIG_Proposal_Due_Date__c</queriedFields>
        <queriedFields>AIG_Pricing_Request_Submitted_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Proposal_Timeline_for_Deletion</name>
        <label>Get Proposal Timeline for Deletion</label>
        <locationX>1497</locationX>
        <locationY>770</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Proposal_Timeline_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AIG_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Milestone_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposal Timeline</stringValue>
            </value>
        </filters>
        <object>AIG_Milestone__c</object>
        <outputReference>DeleteProposal</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Milestone</name>
        <label>Update Existing Milestone</label>
        <locationX>692</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Check_Insert_List</targetReference>
        </connector>
        <inputReference>MilestoneTaskUpdateList</inputReference>
    </recordUpdates>
    <startElementReference>Get_Template_Records</startElementReference>
    <status>Draft</status>
    <subflows>
        <name>Create_Delete_List</name>
        <label>Create Delete List</label>
        <locationX>327</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>Check_Update_List</targetReference>
        </connector>
        <flowName>AIG_Create_Delete_List_for_Existing_Milestone_Task</flowName>
        <inputAssignments>
            <name>ExistingMilestones</name>
            <value>
                <elementReference>ExistingMilestones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TemplateRecords</name>
            <value>
                <elementReference>TemplateRecords</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>MilestoneTasksforDeletion</assignToReference>
            <name>MilestoneTasksforDeletion</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Upsert_List</name>
        <label>Create Upsert List</label>
        <locationX>79</locationX>
        <locationY>807</locationY>
        <connector>
            <targetReference>Create_Delete_List</targetReference>
        </connector>
        <flowName>AIG_Create_Upsert_List_for_Existing_Milestone_Tasks</flowName>
        <inputAssignments>
            <name>BusinessHours</name>
            <value>
                <elementReference>BusinessHour</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExistingMilestones</name>
            <value>
                <elementReference>ExistingMilestones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpptyRecord</name>
            <value>
                <elementReference>OpptyRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TemplateRecords</name>
            <value>
                <elementReference>TemplateRecords</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>MilestoneTaskInsetList</assignToReference>
            <name>MilestoneTaskInsetList</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Template_Records</name>
        <label>Get Template Records</label>
        <locationX>302</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Find_Existing_Milestone_on_Opportunity</targetReference>
        </connector>
        <flowName>AIG_Get_Milestone_Template_Records</flowName>
        <inputAssignments>
            <name>CriteriaName</name>
            <value>
                <elementReference>CriteriaName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TemplateRecords</assignToReference>
            <name>TemplateRecords</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Unique_Milestone_Types</name>
        <label>Get Unique Milestone Types</label>
        <locationX>862</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Loop_On_Milestone_Name</targetReference>
        </connector>
        <flowName>AIG_Create_Unique_Milestone_Types</flowName>
        <inputAssignments>
            <name>OpptyId</name>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TemplateRecords</name>
            <value>
                <elementReference>TemplateRecords</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>MilestoneName</assignToReference>
            <name>MilestoneName</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Update_List_For_Existing_Milestone</name>
        <label>Get Update List For Existing Milestone</label>
        <locationX>218</locationX>
        <locationY>694</locationY>
        <connector>
            <targetReference>Create_Upsert_List</targetReference>
        </connector>
        <flowName>AIG_Update_Target_Date_for_Existing_Milestones</flowName>
        <inputAssignments>
            <name>BusinessHours</name>
            <value>
                <elementReference>BusinessHour</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ExistingMilestones</name>
            <value>
                <elementReference>ExistingMilestones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpptyRecord</name>
            <value>
                <elementReference>OpptyRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TemplateRecords</name>
            <value>
                <elementReference>TemplateRecords</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>MilestoneTaskUpdateList</assignToReference>
            <name>MilestoneTaskUpdateList</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Milestone_Task_Creation</name>
        <label>Milestone Task Creation</label>
        <locationX>918</locationX>
        <locationY>510</locationY>
        <connector>
            <targetReference>Create_Milestone_Task</targetReference>
        </connector>
        <flowName>AIG_Milestone_Task_Creation</flowName>
        <inputAssignments>
            <name>BusinessHour</name>
            <value>
                <elementReference>BusinessHour</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneOnOppty</name>
            <value>
                <elementReference>MilestoneRecordCollection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpptyRecord</name>
            <value>
                <elementReference>OpptyRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TemplateRecords</name>
            <value>
                <elementReference>TemplateRecords</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>MilestoneTaskCollection</assignToReference>
            <name>MilestoneTaskCollection</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BusinessHour</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessHours</objectType>
    </variables>
    <variables>
        <name>CriteriaName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>DeleteProposal</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone__c</objectType>
    </variables>
    <variables>
        <name>ExistingMilestones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone__c</objectType>
    </variables>
    <variables>
        <name>IsPricingOnly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MilestoneName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MilestoneNameRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MilestoneRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone__c</objectType>
    </variables>
    <variables>
        <name>MilestoneRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AIG_Milestone__c</objectType>
    </variables>
    <variables>
        <name>MilestoneTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Task__c</objectType>
    </variables>
    <variables>
        <name>MilestoneTaskInsetList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Task__c</objectType>
    </variables>
    <variables>
        <name>MilestoneTasksforDeletion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Task__c</objectType>
    </variables>
    <variables>
        <name>MilestoneTaskUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Task__c</objectType>
    </variables>
    <variables>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OpptyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PricingOnlyMilestoneRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone__c</objectType>
    </variables>
    <variables>
        <name>TemplateRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Template__mdt</objectType>
    </variables>
</Flow>
