force-app/main/default/flows/AIG_Add_Plan_Types.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <constants>
        <name>Other</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </constants>
    <dynamicChoiceSets>
        <name>CurrentInvestPlatfrm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AIG_Current_Investment_Platform__c</picklistField>
        <picklistObject>OpportunityLineItem</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CurrentPlatformInvestment</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>OpportunityLineItem</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pll</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Pricebook2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>productRecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>20</limit>
        <object>Product2</object>
        <outputAssignments>
            <assignToReference>otherPlanType</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProspectingPlans</name>
        <dataType>String</dataType>
        <displayField>PricebookEntryId</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <valueField>PricebookEntryId</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Add Plan Types {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Plan Types</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>insertOpportunityLineItemRecord</name>
        <label>insertOpportunityLineItemRecord</label>
        <locationX>640</locationX>
        <locationY>55</locationY>
        <assignRecordIdToReference>opportunityLineItemRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Plan_Type_Record_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_while_creating_Plan_Type_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AIG_Current_Investment_Platform__c</field>
            <value>
                <elementReference>CurrentInvestPlatfrm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AIG_Other_Plan_Type__c</field>
            <value>
                <elementReference>Other_Plan_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AIG_Plan_Type_Name__c</field>
            <value>
                <elementReference>Plan_Type_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>opportunityRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>priceBookEntryRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Plan_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Prospecting_Plans</name>
        <label>Find Prospecting Plans</label>
        <locationX>125</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOpportunityRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>AvailableProspectingPlans</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>AIG_Plan_Type_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getOpportunityRecord</name>
        <label>getOpportunityRecord</label>
        <locationX>202</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Plan_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>opportunityRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getPriceBookEntryRecord</name>
        <label>getPriceBookEntryRecord</label>
        <locationX>444</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>insertOpportunityLineItemRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Plan_Type</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>priceBookEntryRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Add_Plan_Type</name>
        <label>Add Plan Type</label>
        <locationX>327</locationX>
        <locationY>60</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getPriceBookEntryRecord</targetReference>
        </connector>
        <fields>
            <name>FillPlanTypeField</name>
            <fieldText>Upon adding a plan type, please navigate to the plan type itself and update additional required fields</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Plan_Type_Name</name>
            <dataType>String</dataType>
            <fieldText>Plan Type Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>Other Plan Type is required if Plan Type is Other.</errorMessage>
                <formulaExpression>{!Plan_Type} != &quot;Other&quot; || {!Other_Plan_Type} !=Null</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Plan_Type</name>
            <choiceReferences>productRecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Plan Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Other_Plan_Type</name>
            <dataType>String</dataType>
            <fieldText>Other Plan Type</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Price_Book_Type</name>
            <choiceReferences>Pll</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Price Book Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Current_Investment_Platform</name>
            <choiceReferences>CurrentInvestPlatfrm</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Current Investment Platform</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_while_creating_Plan_Type_Record</name>
        <label>Error while creating Plan Type Record</label>
        <locationX>734</locationX>
        <locationY>246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>opportunityLineItemInsertError</name>
            <fieldText>There was an error while creating plan type.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Plan_Type_Record_Created</name>
        <label>Plan Type Record Created</label>
        <locationX>865</locationX>
        <locationY>63</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessfullyCreatedPlanType</name>
            <fieldText>Plan Type &lt;a  href=&apos;/{!opportunityLineItemRecordId}&apos;&gt;{!Plan_Type_Name}&lt;/a&gt; was created successfully.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Find_Prospecting_Plans</startElementReference>
    <status>Active</status>
    <variables>
        <name>AvailableProspectingPlans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>CurrentInvestPlatform</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>CurrInvestPlatform</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>opportunityLineItemRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>otherPlanType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>priceBookEntryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>ProspectingPlanId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
