force-app/main/default/flows/AIG_Update_Target_Date_for_Existing_Milestones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Target_Date_Calculation</name>
        <label>Target Date Calculation</label>
        <locationX>909</locationX>
        <locationY>570</locationY>
        <actionName>AIG_CalculateTargetDate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Compare_Target_Date</targetReference>
        </connector>
        <inputParameters>
            <name>businessHoursId</name>
            <value>
                <elementReference>BusinessHours.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>daysAfter</name>
            <value>
                <elementReference>TemplateRecord.AIG_Days_After__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AIG_CalculateTargetDate</nameSegment>
        <outputParameters>
            <assignToReference>TargetDate</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Update_List</name>
        <label>Add to Update List</label>
        <locationX>1423</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>MilestoneTaskUpdateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingMilestoneTaskRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneTaskUpdateRecord.AIG_Target_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TargetDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Key_Date</name>
        <label>Assign Key Date</label>
        <locationX>112</locationX>
        <locationY>171</locationY>
        <assignmentItems>
            <assignToReference>var_ProposalDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyRecord.AIG_Proposal_Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PricingRequestSubmittedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyRecord.AIG_Pricing_Request_Submitted_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Existing_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pricing_Request_Submitted_Date_to_Start_Date</name>
        <label>Assign Pricing Request Submitted Date to Start Date</label>
        <locationX>777</locationX>
        <locationY>363</locationY>
        <assignmentItems>
            <assignToReference>startDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PricingRequestSubmittedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Target_Date_Calculation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Proposal_Due_Date_To_Start_Date</name>
        <label>Assign Proposal Due Date To Start Date</label>
        <locationX>1049</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>startDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ProposalDueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Target_Date_Calculation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Update_List</name>
        <label>Assign to Update List</label>
        <locationX>1417</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>MilestoneTaskUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MilestoneTaskUpdateRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Template_Record_to_Update_Target_Date</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const_PricingRequestSubmittedDate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AIG_Pricing_Request_Submitted_Date__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>const_ProposalDueDate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AIG_Proposal_Due_Date__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Compare_Target_Date</name>
        <label>Compare Target Date</label>
        <locationX>1219</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Template_Record_to_Update_Target_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Target_Date_Not_Equal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TargetDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ExistingMilestoneTaskRecord.AIG_Target_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Update_List</targetReference>
            </connector>
            <label>If Target Date Not Equal</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_Key_Date_is_Proposal_Or_Pricing</name>
        <label>IF Key Date is Proposal Or Pricing</label>
        <locationX>1308</locationX>
        <locationY>203</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Proposal_Due_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>const_ProposalDueDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TemplateRecord.AIG_Key_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Proposal_Due_Date_To_Start_Date</targetReference>
            </connector>
            <label>Is Proposal Due Date</label>
        </rules>
        <rules>
            <name>Is_Pricing_Request_Submitted_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>const_PricingRequestSubmittedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TemplateRecord.AIG_Key_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pricing_Request_Submitted_Date_to_Start_Date</targetReference>
            </connector>
            <label>Is Pricing Request Submitted Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Matching_Template_Record_Found</name>
        <label>If Matching Template Record Found</label>
        <locationX>1067</locationX>
        <locationY>28</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Template_Record_to_Update_Target_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Matching_Milestone_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingMilestoneTaskRecord.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TemplateRecord.AIG_Milestone__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExistingMilestoneRecord.Milestone_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TemplateRecord.AIG_Milestone_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IF_Key_Date_is_Proposal_Or_Pricing</targetReference>
            </connector>
            <label>Is Matching Milestone Task?</label>
        </rules>
    </decisions>
    <description>Sub flow for Updating Target Date of Existing Milestones</description>
    <interviewLabel>Update Target Date for Existing Milestones {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Target Date for Existing Milestones</label>
    <loops>
        <name>Loop_on_Existing_Milestone</name>
        <label>Loop on Existing Milestone</label>
        <locationX>190</locationX>
        <locationY>53</locationY>
        <assignNextValueToReference>ExistingMilestoneRecord</assignNextValueToReference>
        <collectionReference>ExistingMilestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Milestone_Task_For_Existing_Milestone_on_Opportunity</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_On_Existing_Milestone_Tasks</name>
        <label>Loop On Existing Milestone Tasks</label>
        <locationX>576</locationX>
        <locationY>191</locationY>
        <assignNextValueToReference>ExistingMilestoneTaskRecord</assignNextValueToReference>
        <collectionReference>ExistingMilestoneTask</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_On_Template_Record_to_Update_Target_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_on_Existing_Milestone</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_Template_Record_to_Update_Target_Date</name>
        <label>Loop On Template Record to Update Target Date</label>
        <locationX>704</locationX>
        <locationY>47</locationY>
        <assignNextValueToReference>TemplateRecord</assignNextValueToReference>
        <collectionReference>TemplateRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Matching_Template_Record_Found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_On_Existing_Milestone_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Milestone_Task_For_Existing_Milestone_on_Opportunity</name>
        <label>Find Milestone Task For Existing Milestone on Opportunity</label>
        <locationX>369</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Existing_Milestone_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingMilestoneRecord.Id</elementReference>
            </value>
        </filters>
        <object>AIG_Milestone_Task__c</object>
        <outputReference>ExistingMilestoneTask</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AIG_Target_Date__c</queriedFields>
        <queriedFields>Milestone__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <startElementReference>Assign_Key_Date</startElementReference>
    <status>Active</status>
    <variables>
        <name>BusinessHours</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessHours</objectType>
    </variables>
    <variables>
        <name>ExistingMilestoneRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone__c</objectType>
    </variables>
    <variables>
        <name>ExistingMilestones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone__c</objectType>
    </variables>
    <variables>
        <name>ExistingMilestoneTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Task__c</objectType>
    </variables>
    <variables>
        <name>ExistingMilestoneTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Task__c</objectType>
    </variables>
    <variables>
        <name>MilestoneTaskUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AIG_Milestone_Task__c</objectType>
    </variables>
    <variables>
        <name>MilestoneTaskUpdateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Task__c</objectType>
    </variables>
    <variables>
        <name>OpptyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TargetDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Template__mdt</objectType>
    </variables>
    <variables>
        <name>TemplateRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Template__mdt</objectType>
    </variables>
    <variables>
        <name>var_PricingRequestSubmittedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ProposalDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
