force-app/main/default/flows/AIG_Milestone_Task_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Target_Date_Calculation</name>
        <label>Target Date Calculation</label>
        <locationX>782</locationX>
        <locationY>863</locationY>
        <actionName>AIG_CalculateTargetDate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Pricing_or_Proposal_Timeline</targetReference>
        </connector>
        <inputParameters>
            <name>businessHoursId</name>
            <value>
                <elementReference>BusinessHour.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>daysAfter</name>
            <value>
                <elementReference>Template.AIG_Days_After__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AIG_CalculateTargetDate</nameSegment>
        <outputParameters>
            <assignToReference>TargetDate</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>755</locationX>
        <locationY>475</locationY>
        <assignmentItems>
            <assignToReference>MilestoneTaskCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MilestoneTaskCollectionRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_MTD_to_create_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Record</name>
        <label>Add to Record</label>
        <locationX>921</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>MilestoneTaskCollectionRecord.AIG_Target_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TargetDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneTaskCollectionRecord.AIG_Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>assignedUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneTaskCollectionRecord.Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MilestoneOnOpptyRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneTaskCollectionRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Template.AIG_Milestone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_as_Bid_Manager</name>
        <label>Assign Owner as Bid Manager</label>
        <locationX>1050</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>assignedUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyRecord.AIG_Bid_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_as_Pricing_manager</name>
        <label>Assign Owner as Pricing manager</label>
        <locationX>868</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>assignedUser</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyRecord.AIG_Pricing_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pricing_Request_Submitted_Date_to_Start_Date</name>
        <label>Assign Pricing Request Submitted Date to Start Date</label>
        <locationX>569</locationX>
        <locationY>952</locationY>
        <assignmentItems>
            <assignToReference>startDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PricingRequestSubmittedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Target_Date_Calculation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Proposal_Due_Date</name>
        <label>Assign Proposal Due Date</label>
        <locationX>105</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>var_ProposalDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyRecord.AIG_Proposal_Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PricingRequestSubmittedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyRecord.AIG_Pricing_Request_Submitted_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Opportunity_Dates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Proposal_Due_Date_To_Start_Date</name>
        <label>Assign Proposal Due Date To Start Date</label>
        <locationX>922</locationX>
        <locationY>1048</locationY>
        <assignmentItems>
            <assignToReference>startDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ProposalDueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Target_Date_Calculation</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const_PricingRequestSubmittedDate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AIG_Pricing_Request_Submitted_Date__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>const_ProposalDueDate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AIG_Proposal_Due_Date__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Milestone_Type</name>
        <label>Check Milestone Type</label>
        <locationX>492</locationX>
        <locationY>833</locationY>
        <defaultConnector>
            <targetReference>Loop_on_MTD_to_create_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Milestone_Type_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Template.AIG_Milestone_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MilestoneOnOpptyRecord.Milestone_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IF_Key_Date_is_Proposal_Or_Pricing</targetReference>
            </connector>
            <label>Is Milestone Type Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Opportunity_Dates</name>
        <label>Check Opportunity Dates</label>
        <locationX>327</locationX>
        <locationY>207</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Opportunity_Dates_not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_PricingRequestSubmittedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ProposalDueDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Milestones</targetReference>
            </connector>
            <label>Is Opportunity Dates not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>IF_Key_Date_is_Proposal_Or_Pricing</name>
        <label>IF Key Date is Proposal Or Pricing</label>
        <locationX>311</locationX>
        <locationY>1065</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Proposal_Due_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>const_ProposalDueDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Template.AIG_Key_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Proposal_Due_Date_To_Start_Date</targetReference>
            </connector>
            <label>Is Proposal Due Date</label>
        </rules>
        <rules>
            <name>Is_Pricing_Request_Submitted_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>const_PricingRequestSubmittedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Template.AIG_Key_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pricing_Request_Submitted_Date_to_Start_Date</targetReference>
            </connector>
            <label>Is Pricing Request Submitted Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Pricing_or_Proposal_Timeline</name>
        <label>Is Pricing or Proposal Timeline</label>
        <locationX>945</locationX>
        <locationY>765</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pricing_Timeline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MilestoneOnOpptyRecord.Milestone_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing Timeline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_as_Pricing_manager</targetReference>
            </connector>
            <label>Pricing Timeline</label>
        </rules>
        <rules>
            <name>Proposal_Timeline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MilestoneOnOpptyRecord.Milestone_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal Timeline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_as_Bid_Manager</targetReference>
            </connector>
            <label>Proposal Timeline</label>
        </rules>
    </decisions>
    <description>Creating Milestone Task</description>
    <interviewLabel>Milestone Task Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Milestone Task Creation</label>
    <loops>
        <name>Loop_on_Milestones</name>
        <label>Loop on Milestones</label>
        <locationX>281</locationX>
        <locationY>508</locationY>
        <assignNextValueToReference>MilestoneOnOpptyRecord</assignNextValueToReference>
        <collectionReference>MilestoneOnOppty</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_on_MTD_to_create_Tasks</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_on_MTD_to_create_Tasks</name>
        <label>Loop on MTD to create Tasks</label>
        <locationX>635</locationX>
        <locationY>582</locationY>
        <assignNextValueToReference>Template</assignNextValueToReference>
        <collectionReference>TemplateRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Milestone_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_on_Milestones</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Assign_Proposal_Due_Date</startElementReference>
    <status>Active</status>
    <variables>
        <name>assignedUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>BusinessHour</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessHours</objectType>
    </variables>
    <variables>
        <name>MilestoneOnOppty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone__c</objectType>
    </variables>
    <variables>
        <name>MilestoneOnOpptyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone__c</objectType>
    </variables>
    <variables>
        <name>MilestoneTaskCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AIG_Milestone_Task__c</objectType>
    </variables>
    <variables>
        <name>MilestoneTaskCollectionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Task__c</objectType>
    </variables>
    <variables>
        <name>OpptyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TargetDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Template</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Template__mdt</objectType>
    </variables>
    <variables>
        <name>TemplateRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Template__mdt</objectType>
    </variables>
    <variables>
        <name>var_PricingRequestSubmittedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ProposalDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
