force-app/main/default/flows/AIG_CreatePlanRecord.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_AccountId</name>
        <label>Assign AccountId</label>
        <locationX>1170</locationX>
        <locationY>810</locationY>
        <assignmentItems>
            <assignToReference>var_Plan.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_accountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plan_Status_is_Not_Null_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_Plan_Type</name>
        <label>Assign Other Plan Type</label>
        <locationX>1471</locationX>
        <locationY>592</locationY>
        <assignmentItems>
            <assignToReference>var_Plan.AIG_Other_Plan_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_PlanTypeRecord.AIG_Other_Plan_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Id_is_Not_Null_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Plan_Name</name>
        <label>Assign Plan Name</label>
        <locationX>2061</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_Plan.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_PlanTypeRecord.AIG_Plan_Type_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Plan_Status</name>
        <label>Assign Plan Status</label>
        <locationX>943</locationX>
        <locationY>635</locationY>
        <assignmentItems>
            <assignToReference>var_Plan.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_PlanStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Type_Id_null_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Plan_Type</name>
        <label>Assign Plan Type</label>
        <locationX>2056</locationX>
        <locationY>70</locationY>
        <assignmentItems>
            <assignToReference>var_Plan.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_PlanTypeRecord.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plan_Name_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PlanId</name>
        <label>Assign PlanId</label>
        <locationX>971</locationX>
        <locationY>47</locationY>
        <assignmentItems>
            <assignToReference>var_Plan.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_PlanId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plan_is_not_Null_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_iD</name>
        <label>Assign Record Type iD</label>
        <locationX>751</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>var_Plan.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_PlanRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Other_Plan_Type_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_Date</name>
        <label>Assign Service Date</label>
        <locationX>2061</locationX>
        <locationY>426</locationY>
        <assignmentItems>
            <assignToReference>var_Plan.InstallDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_PlanTypeRecord.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Plan_Service_End_Date_null_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Service_End_Date</name>
        <label>Assign Service End Date</label>
        <locationX>2070</locationX>
        <locationY>596</locationY>
        <assignmentItems>
            <assignToReference>var_Plan.UsageEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_PlanTypeRecord.AIG_Service_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Other_Plan_Type_Null_check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Other_is_null</name>
        <label>Other is null?</label>
        <locationX>598</locationX>
        <locationY>634</locationY>
        <assignmentItems>
            <assignToReference>var_Plan.AIG_Other_Plan_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_PlanTypeRecord.AIG_Other_Plan_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Participant_is_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_employee</name>
        <label>Total employee</label>
        <locationX>423</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>var_Plan.AIG_Total_Employees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_PlanTypeRecord.AIG_Total_Active_Participants__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckPlanTypeId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This will update the opportunity Line Item Record Id to Plan Type Id field in Asset/plan Object record.</description>
        <name>updateOpptyLineItemId</name>
        <label>updateOpptyLineItemId</label>
        <locationX>185</locationX>
        <locationY>637</locationY>
        <assignmentItems>
            <assignToReference>var_Plan.AIG_PlanTypeId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input_PlanTypeRecord.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Account_Id_is_Not_Null_check</name>
        <label>Account Id is Not Null check</label>
        <locationX>1310</locationX>
        <locationY>645</locationY>
        <defaultConnector>
            <targetReference>Plan_Status_is_Not_Null_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_id_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_AccountId</targetReference>
            </connector>
            <label>Account id is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPlanTypeId</name>
        <label>CheckPlanTypeId</label>
        <locationX>180</locationX>
        <locationY>473</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PlanTypeIdNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_PlanTypeRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOpptyLineItemId</targetReference>
            </connector>
            <label>PlanTypeIdNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Plan_Type_is_null</name>
        <label>Other Plan Type is null?</label>
        <locationX>745</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Other_is_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>other_type_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_PlanTypeRecord.AIG_Other_Plan_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_Participant_is_null</targetReference>
            </connector>
            <label>other type is null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Plan_Type_Null_check</name>
        <label>Other Plan Type Null check</label>
        <locationX>1667</locationX>
        <locationY>763</locationY>
        <defaultConnector>
            <targetReference>Account_Id_is_Not_Null_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Plan_Type_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_PlanTypeRecord.AIG_Other_Plan_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Other_Plan_Type</targetReference>
            </connector>
            <label>Other Plan Type exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plan</name>
        <label>Plan Service Date Null Check</label>
        <locationX>1670</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>Plan_Service_End_Date_null_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Plan_Service_Date_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_PlanTypeRecord.ServiceDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Service_Date</targetReference>
            </connector>
            <label>Plan Service Date is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plan_Id_is_Null_check</name>
        <label>Plan Id is Null check</label>
        <locationX>960</locationX>
        <locationY>273</locationY>
        <defaultConnector>
            <targetReference>Plan_is_not_Null_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Plan_Id_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_PlanId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PlanId</targetReference>
            </connector>
            <label>Plan Id is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plan_is_not_Null_check</name>
        <label>Plan is not Null check</label>
        <locationX>1314</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>Account_Id_is_Not_Null_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Plan_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_PlanTypeRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Plan_Type_Exists</targetReference>
            </connector>
            <label>Plan is not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plan_Name_Exists</name>
        <label>Plan Name Exists</label>
        <locationX>1671</locationX>
        <locationY>241</locationY>
        <defaultConnector>
            <targetReference>Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Plan_Name_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_PlanTypeRecord.AIG_Plan_Type_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Plan_Name</targetReference>
            </connector>
            <label>Plan Name is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plan_Service_End_Date_null_check</name>
        <label>Plan Service End Date null check</label>
        <locationX>1668</locationX>
        <locationY>588</locationY>
        <defaultConnector>
            <targetReference>Other_Plan_Type_Null_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Plan_Service_End_Date_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_PlanTypeRecord.AIG_Service_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Service_End_Date</targetReference>
            </connector>
            <label>Plan Service End Date is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plan_Status_is_Not_Null_Check</name>
        <label>Plan Status is Not Null Check</label>
        <locationX>1149</locationX>
        <locationY>477</locationY>
        <defaultConnector>
            <targetReference>Record_Type_Id_null_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Plan_Status_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_PlanStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Plan_Status</targetReference>
            </connector>
            <label>Plan Status is not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Plan_Type_Exists</name>
        <label>Plan Type Exists</label>
        <locationX>1671</locationX>
        <locationY>61</locationY>
        <defaultConnector>
            <targetReference>Plan_Name_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Plan_Type_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_PlanTypeRecord.Product2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Plan_Type</targetReference>
            </connector>
            <label>Plan Type is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type_Id_null_check</name>
        <label>Record Type Id null check</label>
        <locationX>935</locationX>
        <locationY>427</locationY>
        <defaultConnector>
            <targetReference>Assign_Record_Type_iD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_Id_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_PlanRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Plan_Type_is_null</targetReference>
            </connector>
            <label>Record Type Id is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Total_Participant_is_null</name>
        <label>Total Participant is null?</label>
        <locationX>416</locationX>
        <locationY>473</locationY>
        <defaultConnector>
            <targetReference>Total_employee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>total_employee_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_PlanTypeRecord.AIG_Total_Active_Participants__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckPlanTypeId</targetReference>
            </connector>
            <label>total employee is null?</label>
        </rules>
    </decisions>
    <description>Create a Plan Type Variable instance. Update: Added opportunity Line id stamping to &apos;Plan Type Id&apos; field.</description>
    <formulas>
        <name>f_PlanName</name>
        <dataType>String</dataType>
        <expression>{!input_PlanTypeRecord.AIG_Plan_Type_Name__c} &amp; &quot; - &quot;  &amp; {!input_PlanStatus}</expression>
    </formulas>
    <interviewLabel>AIG_CreatePlanRecord {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AIG_CreatePlanRecord</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Plan_Id_is_Null_check</startElementReference>
    <status>Active</status>
    <variables>
        <name>input_accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_PlanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_PlanRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_PlanStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_PlanTypeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>var_Plan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
