force-app/main/default/flows/AIG_Create_Pricing_Proposal_Milestone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_criteria</name>
        <label>Check criteria</label>
        <locationX>742</locationX>
        <locationY>513</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Greater_than_100m_and_equal_to_Hardcopy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choice_milestonetype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing &amp; Proposal Milestone($100m+)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opptydetails.AIG_Proposal_Delivery_Method__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hardcopy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Greater_than_100m_Hard_copy</targetReference>
            </connector>
            <label>Is Greater than 100m and equal to Hardcopy</label>
        </rules>
        <rules>
            <name>Is_Greater_than_100m_and_not_equal_to_Hardcopy</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>choice_milestonetype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing &amp; Proposal Milestone($100m+)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opptydetails.AIG_Proposal_Delivery_Method__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hardcopy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GreaterThan100m</targetReference>
            </connector>
            <label>Is Greater than 100m and not equal to Hardcopy</label>
        </rules>
        <rules>
            <name>Is_Less_than_100m_and_equal_to_Hardcopy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choice_milestonetype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing &amp; Proposal Milestone($20m-$100m)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opptydetails.AIG_Proposal_Delivery_Method__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hardcopy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LessThan100mHardCopy</targetReference>
            </connector>
            <label>Is Less than 100m and equal to Hardcopy</label>
        </rules>
        <rules>
            <name>Is_Less_than_100m_and_not_equal_to_Hardcopy</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>choice_milestonetype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing &amp; Proposal Milestone($20m-$100m)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opptydetails.AIG_Proposal_Delivery_Method__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hardcopy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LessThan100m</targetReference>
            </connector>
            <label>Is Less than 100m and not equal to Hardcopy</label>
        </rules>
        <rules>
            <name>Is_pricing_only_100m_and_equal_to_Hardcopy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choice_milestonetype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing only($100m+)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opptydetails.AIG_Proposal_Delivery_Method__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hardcopy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GreaterThan100mHardCopy</targetReference>
            </connector>
            <label>Is pricing only &gt; 100m and equal to Hardcopy</label>
        </rules>
        <rules>
            <name>Is_pricing_only_100m_and_not_equal_to_Hardcopy</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>choice_milestonetype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing only($100m+)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opptydetails.AIG_Proposal_Delivery_Method__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hardcopy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GreaterThan100mi</targetReference>
            </connector>
            <label>Is pricing only &gt; 100m and not equal to Hardcopy</label>
        </rules>
        <rules>
            <name>Is_pricing_only_100m_and_equal_to_Hardcopy1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choice_milestonetype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing only($20m-$100m)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opptydetails.AIG_Proposal_Delivery_Method__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hardcopy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LessThan100mHardCopy1</targetReference>
            </connector>
            <label>Is pricing only &lt; 100m and equal to Hardcopy</label>
        </rules>
        <rules>
            <name>Is_pricing_only_100m_and_not_equal_to_Hardcopy1</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>choice_milestonetype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing only($20m-$100m)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opptydetails.AIG_Proposal_Delivery_Method__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Hardcopy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LessThan100m2</targetReference>
            </connector>
            <label>Is pricing only &lt; 100m and not equal to Hardcopy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Key_Dates_on_the_Oppty</name>
        <label>Check Key Dates on the Oppty</label>
        <locationX>175</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>Key_Dates_missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Key Dates are not available</defaultConnectorLabel>
        <rules>
            <name>Key_Dates_are_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opptydetails.AIG_Pricing_Request_Submitted_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opptydetails.AIG_Proposal_Due_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Milestone_record_exists</targetReference>
            </connector>
            <label>Key Dates are available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_values_are_selected</name>
        <label>Check values are selected</label>
        <locationX>1245</locationX>
        <locationY>313</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>both_are_not_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choice_milestonetype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>null</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Delete_existing_milestone_and_start_over2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Both_values_are_not_selected</targetReference>
            </connector>
            <label>both are not selected</label>
        </rules>
        <rules>
            <name>radio_button_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choice_milestonetype</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>null</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Delete_existing_milestone_and_start_over2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation1</targetReference>
            </connector>
            <label>radio button selected</label>
        </rules>
        <rules>
            <name>checkbox_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete_existing_milestone_and_start_over2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>choice_milestonetype</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>null</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>delete2</targetReference>
            </connector>
            <label>checkbox selected</label>
        </rules>
        <rules>
            <name>both_are_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>choice_milestonetype</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>null</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Delete_existing_milestone_and_start_over2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Both_values_are_selected</targetReference>
            </connector>
            <label>both are selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Milestone_record_exists</name>
        <label>Milestone record exists</label>
        <locationX>587</locationX>
        <locationY>49</locationY>
        <defaultConnector>
            <targetReference>Create_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Milestone records are  not available</defaultConnectorLabel>
        <rules>
            <name>Is_Milestone_Records_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>milestonelist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_screen</targetReference>
            </connector>
            <label>Is Milestone Records available</label>
        </rules>
    </decisions>
    <description>Create Pricing and Proposal Milestone</description>
    <dynamicChoiceSets>
        <name>choice_milestonetype</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AIG_Milestone_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MilestoneType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Milestone_Type__c</picklistField>
        <picklistObject>AIG_Milestone__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>null</name>
        <dataType>String</dataType>
        <expression>NULL</expression>
    </formulas>
    <interviewLabel>Create Pricing/Proposal Milestone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Pricing/Proposal Milestone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_milestone_record</name>
        <label>Delete milestone record</label>
        <locationX>1375</locationX>
        <locationY>598</locationY>
        <connector>
            <targetReference>clear_value_of_Milestone_type_on_oppty</targetReference>
        </connector>
        <inputReference>milestonelist</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Query_Milestone_records</name>
        <label>Query Milestone records</label>
        <locationX>212</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Query_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AIG_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>AIG_Milestone__c</object>
        <outputReference>milestonelist</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Query_Opportunity</name>
        <label>Query Opportunity</label>
        <locationX>59</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Key_Dates_on_the_Oppty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opptydetails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AIG_Milestone_Type__c</queriedFields>
        <queriedFields>AIG_Proposal_Delivery_Method__c</queriedFields>
        <queriedFields>AIG_Pricing_Request_Submitted_Date__c</queriedFields>
        <queriedFields>AIG_Proposal_Due_Date__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>clear_value_of_Milestone_type_on_oppty</name>
        <label>clear value of Milestone type on oppty</label>
        <locationX>1412</locationX>
        <locationY>772</locationY>
        <connector>
            <targetReference>delete_success_mesage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AIG_DisableOpptyVR__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AIG_Milestone_Type__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_milestone_type_on_oppty</name>
        <label>Update milestone type on oppty</label>
        <locationX>937</locationX>
        <locationY>373</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AIG_DisableOpptyVR__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AIG_Milestone_Type__c</field>
            <value>
                <elementReference>choice_milestonetype</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Both_values_are_not_selected</name>
        <label>Both values are not selected</label>
        <locationX>1471</locationX>
        <locationY>421</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Both_arenotselected</name>
            <fieldText>Please choose either one of the options to proceed.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Both_values_are_selected</name>
        <label>Both values are selected</label>
        <locationX>1388</locationX>
        <locationY>117</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Both_areselected</name>
            <fieldText>You can not choose both the options at same time.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation1</name>
        <label>Confirmation</label>
        <locationX>786</locationX>
        <locationY>293</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_milestone_type_on_oppty</targetReference>
        </connector>
        <fields>
            <name>Are_you_sure_to_proceed</name>
            <fieldText>You have selected: &lt;b&gt;{!choice_milestonetype}&lt;/b&gt;. Are you sure you want to proceed?</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation2</name>
        <label>Confirmation</label>
        <locationX>277</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_milestone_type_on_oppty</targetReference>
        </connector>
        <fields>
            <name>Areyousuretoproceed</name>
            <fieldText>You have selected: &lt;b&gt;{!choice_milestonetype}&lt;/b&gt;. Are you sure you want to proceed?</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Screen</name>
        <label>Create Screen</label>
        <locationX>513</locationX>
        <locationY>277</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirmation2</targetReference>
        </connector>
        <fields>
            <name>Choose_one_out_of_the_below_options</name>
            <choiceReferences>choice_milestonetype</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose one out of the below options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Empty</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>clicknext</name>
            <fieldText>&lt;i&gt;Clicking on Next will create new Milestones.&lt;/i&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_update_success_message</name>
        <label>Create/update success message</label>
        <locationX>646</locationX>
        <locationY>1038</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_message</name>
            <fieldText>&lt;b style=&quot;color: green;&quot;&gt;Milestones have been created/updated successfully. &lt;/b&gt;

&lt;i&gt;Please click on Finish to refresh the view.&lt;/i&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>delete2</name>
        <label>delete</label>
        <locationX>1149</locationX>
        <locationY>488</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_milestone_record</targetReference>
        </connector>
        <fields>
            <name>ask2</name>
            <fieldText>You have chosen to &lt;b&gt;delete&lt;/b&gt; records. Are you sure you want to proceed?</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>delete_success_mesage</name>
        <label>delete success mesage</label>
        <locationX>1333</locationX>
        <locationY>932</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;b style=&quot;color: green;&quot;&gt;You have successfully deleted the Milestone records.&lt;/b&gt;

&lt;i&gt;Please click on Finish to refresh the view.&lt;/i&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Key_Dates_missing</name>
        <label>Key Dates missing</label>
        <locationX>147</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>KeyDatesUnavailable</name>
            <fieldText>Must enter Proposal Due Date to proceed with creation of Milestones.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_screen</name>
        <label>Update screen</label>
        <locationX>1067</locationX>
        <locationY>188</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_values_are_selected</targetReference>
        </connector>
        <fields>
            <name>Previousselection</name>
            <fieldText>&lt;b&gt;Your previous selection : &lt;span style=&quot;color: green;&quot;&gt;{!Opptydetails.AIG_Milestone_Type__c}&lt;/span&gt;&lt;/b&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>empty3</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Choose_one_out_of_the_below_options2</name>
            <choiceReferences>choice_milestonetype</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose one out of the below options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Delete_existing_milestone_and_start_over2</name>
            <dataType>Boolean</dataType>
            <fieldText>Delete existing milestones and start over?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>empty2</name>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>next</name>
            <fieldText>&lt;i&gt;Clicking on Next will update the existing milestones.&lt;/i&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Query_Milestone_records</startElementReference>
    <status>Draft</status>
    <subflows>
        <name>Greater_than_100m_Hard_copy</name>
        <label>Greater than 100m Hard copy</label>
        <locationX>146</locationX>
        <locationY>733</locationY>
        <connector>
            <targetReference>Create_update_success_message</targetReference>
        </connector>
        <flowName>AIG_Create_Milestones_For_Opportunity</flowName>
        <inputAssignments>
            <name>CriteriaName</name>
            <value>
                <stringValue>GreaterThan100mHardCopy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsPricingOnly</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>GreaterThan100m</name>
        <label>GreaterThan100m</label>
        <locationX>241</locationX>
        <locationY>868</locationY>
        <connector>
            <targetReference>Create_update_success_message</targetReference>
        </connector>
        <flowName>AIG_Create_Milestones_For_Opportunity</flowName>
        <inputAssignments>
            <name>CriteriaName</name>
            <value>
                <stringValue>GreaterThan100m</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsPricingOnly</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>GreaterThan100mHardCopy</name>
        <label>GreaterThan100mHardCopy</label>
        <locationX>648</locationX>
        <locationY>871</locationY>
        <connector>
            <targetReference>Create_update_success_message</targetReference>
        </connector>
        <flowName>AIG_Create_Milestones_For_Opportunity</flowName>
        <inputAssignments>
            <name>CriteriaName</name>
            <value>
                <stringValue>GreaterThan100mHardCopy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsPricingOnly</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>GreaterThan100mi</name>
        <label>GreaterThan100m</label>
        <locationX>740</locationX>
        <locationY>690</locationY>
        <connector>
            <targetReference>Create_update_success_message</targetReference>
        </connector>
        <flowName>AIG_Create_Milestones_For_Opportunity</flowName>
        <inputAssignments>
            <name>CriteriaName</name>
            <value>
                <stringValue>GreaterThan100m</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsPricingOnly</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>LessThan100m</name>
        <label>LessThan100m</label>
        <locationX>501</locationX>
        <locationY>898</locationY>
        <connector>
            <targetReference>Create_update_success_message</targetReference>
        </connector>
        <flowName>AIG_Create_Milestones_For_Opportunity</flowName>
        <inputAssignments>
            <name>CriteriaName</name>
            <value>
                <stringValue>LessThan100m</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsPricingOnly</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>LessThan100m2</name>
        <label>LessThan100m</label>
        <locationX>989</locationX>
        <locationY>826</locationY>
        <connector>
            <targetReference>Create_update_success_message</targetReference>
        </connector>
        <flowName>AIG_Create_Milestones_For_Opportunity</flowName>
        <inputAssignments>
            <name>CriteriaName</name>
            <value>
                <stringValue>LessThan100m</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsPricingOnly</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>LessThan100mHardCopy</name>
        <label>LessThan100mHardCopy</label>
        <locationX>395</locationX>
        <locationY>788</locationY>
        <connector>
            <targetReference>Create_update_success_message</targetReference>
        </connector>
        <flowName>AIG_Create_Milestones_For_Opportunity</flowName>
        <inputAssignments>
            <name>CriteriaName</name>
            <value>
                <stringValue>LessThan100mHardCopy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsPricingOnly</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>LessThan100mHardCopy1</name>
        <label>LessThan100mHardCopy</label>
        <locationX>825</locationX>
        <locationY>830</locationY>
        <connector>
            <targetReference>Create_update_success_message</targetReference>
        </connector>
        <flowName>AIG_Create_Milestones_For_Opportunity</flowName>
        <inputAssignments>
            <name>CriteriaName</name>
            <value>
                <stringValue>LessThan100mHardCopy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsPricingOnly</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>milestonelist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone__c</objectType>
    </variables>
    <variables>
        <name>milestonetype1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone__c</objectType>
    </variables>
    <variables>
        <name>Opptydetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_milestonedetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_milestonestypes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>This will store the milestone type value from the opportunity detail page</description>
        <name>var_MilestoneType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_mtypes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
