force-app/main/default/flows/AIG_Convert_to_Asset.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asset_Update_List</name>
        <label>Asset Update List</label>
        <locationX>1357</locationX>
        <locationY>71</locationY>
        <assignmentItems>
            <assignToReference>UpdateAssetList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_wonStatusAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Asset_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Status</name>
        <label>Change Status</label>
        <locationX>1363</locationX>
        <locationY>343</locationY>
        <assignmentItems>
            <assignToReference>var_wonStatusAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_wonStatusAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_wonStatusAsset.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_wonStatusAsset.AIG_IsActivated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asset_Update_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Asset_Present</name>
        <label>Check Asset Present</label>
        <locationX>1155</locationX>
        <locationY>341</locationY>
        <defaultConnector>
            <targetReference>Check_Asset_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Id_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceAssets</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>var_wonStatusAsset.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status</targetReference>
            </connector>
            <label>Is Id Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_we_have_plan_records_to_convert</name>
        <label>Check if we have plan records to convert</label>
        <locationX>541</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>Select_plans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPlansListNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_allWonStatusAssets</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Plans_No_Plans</targetReference>
            </connector>
            <label>isPlansListNull?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Profile_Allowed_To_convert_Plans</name>
        <label>Is Profile Allowed To convert Plans</label>
        <locationX>371</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Ristricted_Profile_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Profile_Allowed</name>
            <conditionLogic>2 AND 1</conditionLogic>
            <conditions>
                <leftValueReference>var_ProfilesAllowed.AIG_Profiles__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>var_ProfileName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ProfilesAllowed</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Won_Assets</targetReference>
            </connector>
            <label>Is Profile Allowed</label>
        </rules>
    </decisions>
    <description>On Plan Sponsor relationship detail page, User clicks on &apos;Convert Plans To Active&apos; action button to launch this flow.</description>
    <dynamicChoiceSets>
        <name>RCS_allWonStatusAssets</name>
        <dataType>String</dataType>
        <displayField>AIG_f_Plan_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Converting</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>var_ProfileName</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <interviewLabel>Convert to Asset {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert to Asset</label>
    <loops>
        <name>Check_Asset_Id</name>
        <label>Check Asset Id</label>
        <locationX>836</locationX>
        <locationY>57</locationY>
        <assignNextValueToReference>var_wonStatusAsset</assignNextValueToReference>
        <collectionReference>var_allWonStatusAssets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Asset_Present</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Allowed_Profiles</name>
        <label>Get Allowed Profiles</label>
        <locationX>280</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Profile_Allowed_To_convert_Plans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Allowed_Profiles_For_Plans_to_Active</stringValue>
            </value>
        </filters>
        <object>AIG_Profile_Configrations__mdt</object>
        <outputReference>var_ProfilesAllowed</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AIG_Profiles__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Won_Assets</name>
        <label>Get Won Assets</label>
        <locationX>390</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_we_have_plan_records_to_convert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Converting</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>var_allWonStatusAssets</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>839</locationX>
        <locationY>317</locationY>
        <connector>
            <targetReference>Plan_Status</targetReference>
        </connector>
        <inputReference>UpdateAssetList</inputReference>
    </recordUpdates>
    <screens>
        <name>Plan_Status</name>
        <label>Plan Status</label>
        <locationX>836</locationX>
        <locationY>464</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>Plans successfully converted to active</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Ristricted_Profile_Access</name>
        <label>Ristricted Profile Access</label>
        <locationX>187</locationX>
        <locationY>226</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>You are not allowed to convert plans to active.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_plans</name>
        <label>Select Plans</label>
        <locationX>681</locationX>
        <locationY>48</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Asset_Id</targetReference>
        </connector>
        <fields>
            <name>ChoiceAssets</name>
            <choiceReferences>RCS_allWonStatusAssets</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Plans to Onboard</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Plans_No_Plans</name>
        <label>Select Plans</label>
        <locationX>659</locationX>
        <locationY>385</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noplansFound</name>
            <fieldText>There are no plans under &apos;Converting&apos; status to mark &apos;Active&apos;.</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Allowed_Profiles</startElementReference>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>UpdateAssetList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>var_allWonStatusAssets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>var_ProfilesAllowed</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Profile_Configrations__mdt</objectType>
    </variables>
    <variables>
        <name>var_RecordTypeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>var_wonStatusAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
