force-app/main/default/flows/AIG_Create_Upsert_List_for_Existing_Milestone_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Target_Date</name>
        <label>Get Target Date</label>
        <locationX>1263</locationX>
        <locationY>1612</locationY>
        <actionName>AIG_CalculateTargetDate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_To_Create_Milestone_Tasks</targetReference>
        </connector>
        <inputParameters>
            <name>businessHoursId</name>
            <value>
                <elementReference>BusinessHours.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>daysAfter</name>
            <value>
                <elementReference>TemplateRecord.AIG_Days_After__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>startDate</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AIG_CalculateTargetDate</nameSegment>
        <outputParameters>
            <assignToReference>TargetDate</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Milestone_Record_Collection</name>
        <label>Add to Milestone Record Collection</label>
        <locationX>533</locationX>
        <locationY>466</locationY>
        <assignmentItems>
            <assignToReference>MilestoneRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MilestoneRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Milestone_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_False_for_Milestone_Flag</name>
        <label>Assign False for Milestone Flag</label>
        <locationX>638</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>IsMilestoneFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Existing_Milestones_on_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_For_Milestone</name>
        <label>Assign Flag For Milestone</label>
        <locationX>1314</locationX>
        <locationY>315</locationY>
        <assignmentItems>
            <assignToReference>IsMilestoneFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Existing_Milestones_on_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_to_False</name>
        <label>Assign Flag to False</label>
        <locationX>1045</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>IsMilestoneFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Milestone_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Key_Date</name>
        <label>Assign Key Date</label>
        <locationX>196</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>var_PricingRequestSubmittedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyRecord.AIG_Pricing_Request_Submitted_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ProposalDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyRecord.AIG_Proposal_Due_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Unique_Milestone_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_if_Pricing</name>
        <label>Assign Owner if Pricing</label>
        <locationX>1432</locationX>
        <locationY>1160</locationY>
        <assignmentItems>
            <assignToReference>TaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyRecord.AIG_Pricing_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Key_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_if_Proposal</name>
        <label>Assign Owner if Proposal</label>
        <locationX>1150</locationX>
        <locationY>1156</locationY>
        <assignmentItems>
            <assignToReference>TaskOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyRecord.AIG_Bid_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Key_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pricing_Request_Submitted_to_Start_Date</name>
        <label>Assign Pricing Request Submitted to Start Date</label>
        <locationX>1107</locationX>
        <locationY>1469</locationY>
        <assignmentItems>
            <assignToReference>startDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PricingRequestSubmittedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Target_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Proposal_to_start_Date</name>
        <label>Assign Proposal to start Date</label>
        <locationX>1417</locationX>
        <locationY>1475</locationY>
        <assignmentItems>
            <assignToReference>startDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_ProposalDueDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Target_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Create_Milestone_Tasks</name>
        <label>Assign To Create Milestone Tasks</label>
        <locationX>617</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>CreateMilestoneTaskRecord.Milestone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LatestMilestoneOnOpportunityRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateMilestoneTaskRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateRecord.AIG_Milestone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateMilestoneTaskRecord.AIG_Assigned_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskOwner</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreateMilestoneTaskRecord.AIG_Target_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TargetDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Insert_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Insert_list</name>
        <label>Create Insert list</label>
        <locationX>498</locationX>
        <locationY>1292</locationY>
        <assignmentItems>
            <assignToReference>MilestoneTaskInsetList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreateMilestoneTaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Template_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Milestone_Record_Assignment</name>
        <label>Milestone Record Assignment</label>
        <locationX>823</locationX>
        <locationY>588</locationY>
        <assignmentItems>
            <assignToReference>MilestoneRecord.AIG_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpptyRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneRecord.Milestone_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MilestoneNameRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MilestoneRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MilestoneNameRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Milestone_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Flag_to_True</name>
        <label>Set Flag to True</label>
        <locationX>1004</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>IsMilestoneFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Milestone_Task</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>const_PricingRequestSubmitted</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AIG_Pricing_Request_Submitted_Date__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>const_ProposalDueDate</name>
        <dataType>String</dataType>
        <value>
            <stringValue>AIG_Proposal_Due_Date__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Assign_Milestone_Task_Owner</name>
        <label>Assign Milestone Task Owner</label>
        <locationX>1292</locationX>
        <locationY>1003</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pricing_Timeline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TemplateRecord.AIG_Milestone_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing Timeline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_if_Pricing</targetReference>
            </connector>
            <label>Pricing Timeline</label>
        </rules>
        <rules>
            <name>Proposal_Timeline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TemplateRecord.AIG_Milestone_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposal Timeline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_if_Proposal</targetReference>
            </connector>
            <label>Proposal Timeline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Flag</name>
        <label>Check Flag</label>
        <locationX>1047</locationX>
        <locationY>420</locationY>
        <defaultConnector>
            <targetReference>Milestone_Record_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Flag_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsMilestoneFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Milestone_Name</targetReference>
            </connector>
            <label>Is Flag True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Key_Date</name>
        <label>Check Key Date</label>
        <locationX>1243</locationX>
        <locationY>1213</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Pricing_Request_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>const_PricingRequestSubmitted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TemplateRecord.AIG_Key_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pricing_Request_Submitted_to_Start_Date</targetReference>
            </connector>
            <label>is Pricing Request Submitted</label>
        </rules>
        <rules>
            <name>is_Proposal_Due_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>const_ProposalDueDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TemplateRecord.AIG_Key_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Proposal_to_start_Date</targetReference>
            </connector>
            <label>is Proposal Due Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Milestone</name>
        <label>Check Milestone</label>
        <locationX>1193</locationX>
        <locationY>155</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Existing_Milestones_on_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Milestone_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MilestoneNameRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ExistingMilestoneRecord.Milestone_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_For_Milestone</targetReference>
            </connector>
            <label>Is Milestone Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Milestone_Tasks_with_Template</name>
        <label>Check Milestone Tasks with Template</label>
        <locationX>1301</locationX>
        <locationY>675</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Milestone_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Milestone_Task_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LatestMilestoneTaskRecord.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TemplateRecord.AIG_Milestone__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LatestMilestoneOnOpportunityRecord.Milestone_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TemplateRecord.AIG_Milestone_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Flag_to_True</targetReference>
            </connector>
            <label>Is Milestone Task Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Filter_Template_on_Milestone_Type</name>
        <label>Filter Template on Milestone Type</label>
        <locationX>877</locationX>
        <locationY>849</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Template_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Milestone_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TemplateRecord.AIG_Milestone_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LatestMilestoneOnOpportunityRecord.Milestone_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Flag_to_False</targetReference>
            </connector>
            <label>Check Milestone Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_FlagFalse</name>
        <label>Is Flag False</label>
        <locationX>941</locationX>
        <locationY>1004</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Template_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Flag_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsMilestoneFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Milestone_Task_Owner</targetReference>
            </connector>
            <label>Check Flag Value</label>
        </rules>
    </decisions>
    <description>Create Upsert List for Existing Milestone Tasks</description>
    <interviewLabel>Create Upsert List for Existing Milestone Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Upsert List for Existing Milestone Tasks</label>
    <loops>
        <name>Loop_On_Existing_Milestones_on_Opportunity</name>
        <label>Loop On Existing Milestones on Opportunity</label>
        <locationX>812</locationX>
        <locationY>239</locationY>
        <assignNextValueToReference>ExistingMilestoneRecord</assignNextValueToReference>
        <collectionReference>ExistingMilestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Milestone</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Flag</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Mileestones_To_Get_Milestone_tasks</name>
        <label>Loop on Mileestones To Get Milestone tasks</label>
        <locationX>495</locationX>
        <locationY>752</locationY>
        <assignNextValueToReference>LatestMilestoneOnOpportunityRecord</assignNextValueToReference>
        <collectionReference>LatestMilestoneOnOpportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Latest_Milestone_Tasks</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_on_Milestone_Name</name>
        <label>Loop on Milestone Name</label>
        <locationX>449</locationX>
        <locationY>275</locationY>
        <assignNextValueToReference>MilestoneNameRecord</assignNextValueToReference>
        <collectionReference>MilestoneName</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_False_for_Milestone_Flag</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Milestone_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Milestone_Task</name>
        <label>Loop on Milestone Task</label>
        <locationX>1172</locationX>
        <locationY>824</locationY>
        <assignNextValueToReference>LatestMilestoneTaskRecord</assignNextValueToReference>
        <collectionReference>LatestMilestoneTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Milestone_Tasks_with_Template</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_FlagFalse</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Template_Record</name>
        <label>Loop on Template Record</label>
        <locationX>850</locationX>
        <locationY>670</locationY>
        <assignNextValueToReference>TemplateRecord</assignNextValueToReference>
        <collectionReference>TemplateRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Template_on_Milestone_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_on_Mileestones_To_Get_Milestone_tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Milestone_Record</name>
        <label>Create Milestone Record</label>
        <locationX>366</locationX>
        <locationY>626</locationY>
        <connector>
            <targetReference>Existing_Milestones_On_Opportunity</targetReference>
        </connector>
        <inputReference>MilestoneRecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Existing_Milestones_On_Opportunity</name>
        <label>Existing Milestones On Opportunity</label>
        <locationX>361</locationX>
        <locationY>753</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Mileestones_To_Get_Milestone_tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AIG_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpptyRecord.Id</elementReference>
            </value>
        </filters>
        <object>AIG_Milestone__c</object>
        <outputReference>LatestMilestoneOnOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Milestone_Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Milestone_Tasks</name>
        <label>Get Latest Milestone Tasks</label>
        <locationX>695</locationX>
        <locationY>697</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Template_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LatestMilestoneOnOpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <object>AIG_Milestone_Task__c</object>
        <outputReference>LatestMilestoneTasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AIG_Target_Date__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Milestone__c</queriedFields>
    </recordLookups>
    <startElementReference>Assign_Key_Date</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Get_Unique_Milestone_Types</name>
        <label>Get Unique Milestone Types</label>
        <locationX>346</locationX>
        <locationY>275</locationY>
        <connector>
            <targetReference>Loop_on_Milestone_Name</targetReference>
        </connector>
        <flowName>AIG_Create_Unique_Milestone_Types</flowName>
        <inputAssignments>
            <name>OpptyId</name>
            <value>
                <elementReference>OpptyRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TemplateRecords</name>
            <value>
                <elementReference>TemplateRecords</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>MilestoneName</assignToReference>
            <name>MilestoneName</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BusinessHours</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessHours</objectType>
    </variables>
    <variables>
        <name>CreateMilestoneTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Task__c</objectType>
    </variables>
    <variables>
        <name>ExistingMilestoneRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone__c</objectType>
    </variables>
    <variables>
        <name>ExistingMilestones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone__c</objectType>
    </variables>
    <variables>
        <name>IsMilestoneFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LatestMilestoneOnOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone__c</objectType>
    </variables>
    <variables>
        <name>LatestMilestoneOnOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone__c</objectType>
    </variables>
    <variables>
        <name>LatestMilestoneTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Task__c</objectType>
    </variables>
    <variables>
        <name>LatestMilestoneTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Task__c</objectType>
    </variables>
    <variables>
        <name>MilestoneName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MilestoneNameRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>MilestoneRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone__c</objectType>
    </variables>
    <variables>
        <name>MilestoneRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone__c</objectType>
    </variables>
    <variables>
        <name>MilestoneTaskInsetList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AIG_Milestone_Task__c</objectType>
    </variables>
    <variables>
        <name>OpptyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TargetDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Template__mdt</objectType>
    </variables>
    <variables>
        <name>TemplateRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Template__mdt</objectType>
    </variables>
    <variables>
        <name>var_PricingRequestSubmittedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ProposalDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
