force-app/main/default/flows/AIG_Create_Unique_Milestone_Types.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_to_MilestoneName</name>
        <label>Assign to MilestoneName</label>
        <locationX>1015</locationX>
        <locationY>151</locationY>
        <assignmentItems>
            <assignToReference>MilestoneName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Template.AIG_Milestone_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Milestone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Flag</name>
        <label>Initialize Flag</label>
        <locationX>367</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>IsUnique</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Milestone_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Flag</name>
        <label>Update Flag</label>
        <locationX>849</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>IsUnique</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Milestone_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_in_milestone_collection</name>
        <label>Add in collection</label>
        <locationX>536</locationX>
        <locationY>538</locationY>
        <defaultConnector>
            <targetReference>Check_Milestone_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Milestone_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Template.AIG_Milestone_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MilestoneNameRecord</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Flag</targetReference>
            </connector>
            <label>Milestone Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_to_collection</name>
        <label>Assign to collection</label>
        <locationX>797</locationX>
        <locationY>198</locationY>
        <defaultConnector>
            <targetReference>Create_Milestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Flag_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsUnique</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_MilestoneName</targetReference>
            </connector>
            <label>Is Flag False</label>
        </rules>
    </decisions>
    <description>Creating UNIQUE milestone types</description>
    <interviewLabel>Create Unique Milestone Types {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Unique Milestone Types</label>
    <loops>
        <name>Check_Milestone_Name</name>
        <label>Check Milestone Name</label>
        <locationX>551</locationX>
        <locationY>268</locationY>
        <assignNextValueToReference>MilestoneNameRecord</assignNextValueToReference>
        <collectionReference>MilestoneName</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_in_milestone_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_to_collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Create_Milestone</name>
        <label>Create Milestone</label>
        <locationX>302</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>Template</assignNextValueToReference>
        <collectionReference>TemplateRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Initialize_Flag</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Create_Milestone</startElementReference>
    <status>Active</status>
    <variables>
        <name>IsUnique</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MilestoneName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MilestoneNameRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OpptyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>OpptyRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Template</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Template__mdt</objectType>
    </variables>
    <variables>
        <name>TemplateRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Template__mdt</objectType>
    </variables>
</Flow>
