force-app/main/default/flows/AIG_Create_Delete_List_for_Existing_Milestone_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Milestone_Tasks_for_deletion</name>
        <label>Milestone Tasks for deletion</label>
        <locationX>768</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>MilestoneTasksforDeletion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ExistingMilestoneTaskRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Existing_Milestone_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Same_Record_Not_found</name>
        <label>Same Record Not found</label>
        <locationX>927</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>SameRecordFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Template_Record_to_Update_Target_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Same_Record_Found_to_TRUE</name>
        <label>Set Same Record Found to TRUE</label>
        <locationX>616</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>SameRecordFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Template_Record_to_Update_Target_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Matching_Template_Record_Found</name>
        <label>If Matching Template Record Found</label>
        <locationX>1006</locationX>
        <locationY>65</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Template_Record_to_Update_Target_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matching_Milestone_Task_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExistingMilestoneTaskRecord.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TemplateRecord.AIG_Milestone__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ExistingMilestoneRecord.Milestone_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TemplateRecord.AIG_Milestone_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Same_Record_Not_found</targetReference>
            </connector>
            <label>Matching Milestone Task found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_records_not_found</name>
        <label>Same records not found</label>
        <locationX>769</locationX>
        <locationY>334</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Existing_Milestone_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_records_not_foun</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SameRecordFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Milestone_Tasks_for_deletion</targetReference>
            </connector>
            <label>Same records not found</label>
        </rules>
    </decisions>
    <description>Create Delete List for Existing Milestone Task</description>
    <interviewLabel>Create Delete List for Existing Milestone Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Delete List for Existing Milestone Task</label>
    <loops>
        <name>Loop_on_Existing_Milestone</name>
        <label>Loop on Existing Milestone</label>
        <locationX>201</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>ExistingMilestoneRecord</assignNextValueToReference>
        <collectionReference>ExistingMilestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Milestone_Task_For_Existing_Milestone_on_Opportunity</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_On_Existing_Milestone_Tasks</name>
        <label>Loop On Existing Milestone Tasks</label>
        <locationX>537</locationX>
        <locationY>262</locationY>
        <assignNextValueToReference>ExistingMilestoneTaskRecord</assignNextValueToReference>
        <collectionReference>ExistingMilestoneTask</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Same_Record_Found_to_TRUE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_on_Existing_Milestone</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_Template_Record_to_Update_Target_Date</name>
        <label>Loop On Template Record to Update Target Date</label>
        <locationX>793</locationX>
        <locationY>53</locationY>
        <assignNextValueToReference>TemplateRecord</assignNextValueToReference>
        <collectionReference>TemplateRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Matching_Template_Record_Found</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Same_records_not_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Milestone_Task_For_Existing_Milestone_on_Opportunity</name>
        <label>Find Milestone Task For Existing Milestone on Opportunity</label>
        <locationX>461</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Existing_Milestone_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Milestone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExistingMilestoneRecord.Id</elementReference>
            </value>
        </filters>
        <object>AIG_Milestone_Task__c</object>
        <outputReference>ExistingMilestoneTask</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Milestone__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <startElementReference>Loop_on_Existing_Milestone</startElementReference>
    <status>Active</status>
    <variables>
        <name>ExistingMilestoneRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone__c</objectType>
    </variables>
    <variables>
        <name>ExistingMilestones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone__c</objectType>
    </variables>
    <variables>
        <name>ExistingMilestoneTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Task__c</objectType>
    </variables>
    <variables>
        <name>ExistingMilestoneTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Task__c</objectType>
    </variables>
    <variables>
        <name>MilestoneTasksforDeletion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AIG_Milestone_Task__c</objectType>
    </variables>
    <variables>
        <name>SameRecordFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TemplateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Template__mdt</objectType>
    </variables>
    <variables>
        <name>TemplateRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AIG_Milestone_Template__mdt</objectType>
    </variables>
</Flow>
